<!DOCTYPE html>
<html lang="em">
<head>
	<meta charset="utf-8"/>
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
	<title>Supermarket Management</title>
</head>
<body>
	<div>
		@RenderBody()
	</div>

</body>
</html>