<!DOCTYPE html>
<html lang="em">
<head>
	<meta charset="utf-8"/>
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
	<title>Supermarket Management</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>

</body>
</html>