@using WebApp.Models;
@model List<Category>

@section title {
	<h3>Categories</h3>
}

@if (Model != null && Model.Count() > 0)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in Model)
			{
				<tr>
					<tr>@category.Name</tr>
					<tr>@category.Description</tr>
					<tr></tr>
				</tr>
			}
		</tbody>
	</table>
}