@model SalesViewModel

@section title {
	<div class="row">
		<div class="col-7"><h3>Cashier's Console'</h3></div>
		<div class="col-2"><label for="cashier">Cashier Name: </label></div>
		<div class="col-3">

		</div>
	</div>
}

<br />
<div class="row">
	<div class="col-4">
		@* Category selection *@
		<select asp-for="SelectedCategoryId" class="form-control">
				<option>- Please Select -</option>
			@if (Model.Categories != null && Model.Categories.Count() > 0)
			{
				@foreach (var cat in Model.Categories)
				{
					<option value="@cat.CategoryId">@cat.Name</option>
				}
			}
		</select>
		<br />
		<div id="productsPartial">
			@* Product List *@
		</div>
		<div id="productDetailPartial">
			@* Product Details *@
		</div>
		@* Sales Form*@
		<form method="post" asp-controller="sales" asp-action="sell" itemid="formSale">
			<div class="form-group">
				<label asp-for="QuantityToSell"></label>
				<input asp-for="QuantityToSell" class="form-control" type="number" min="1" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</form>
	</div>
	<div class="col">
		@* List of transactions *@
	</div>
</div>

@section Scripts {
	<script>
		$(function () {
			// Handle category selection
			$("#SelectedCategoryId").on("change", function () {
				$("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId: $(this).val() });
				$("#productDetailPartial").html("");
			})

			// Handle product selection
			$('#productsPartial').on('click', '.product-row', function() {

				// Highlight the row selected
				$('.product-row').removeClass('highlight');
				$(this).addClass('highlight');

				// Get the product ID from the "product-id" attribute of the clicked row
				var productId = $(this).attr('product-id');


				$("#productDetailPartial").load("/sales/SellProductPartial", { productId: productId});
			});

			
		});
	</script>
}
